@font-face {
  font-family: 'Nanumbarungothic';
  src: url('fonts/NanumBarunGothic.ttf')
}
body {
  font-family: 'Nanumbarungothic';
}
h1 {
  font-size: 40px;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 20px;
}
#grid {
  display:grid;
  grid-template-columns: 150px 1fr;
}
#menu {
  border-right: 2px solid black;
}
#article {
  text-align: center;
  list-style-position: inside;
}
input {
  margin: 0;
  border: 0;
  padding: 0;
}
@media(max-width:800px) {
  #grid {
    display:block;
  }
  h1 {
    border-bottom: none;
  }
  ol {
    border-right: none;
  }
}
